<script type="text/x-template" id="current-queue-template">
    <p>{{ park_pass.first_name }} for {{ park_pass.current_queue.ride_name }}: {{ park_pass.current_queue.expected_wait }} minute(s)</p>
</script>
