<script type="text/x-template" id="ride-template">
<div class='row card no-margin-bottom no-margin-top'>
    <div class='col s12 card-content'>
        <div class='row valign-wrapper no-margin-bottom'>
            <div class='col s12'>
                <h3 class='center-align truncate'>{{ ride.ride_name }}</h3>
            </div>
        </div>
        <div class='row no-margin-bottom'>
            <div class='col s12'>
                <p class='center-align flow-text'>{{ ride.expected_wait_time }} minutes</p>
            </div>
        </div>
    </div>
</div>
</script>



