<div class="footer-copyright">
    <div class="container">
        Webmaster: <%= mail_to("jkufro@andrew.cmu.edu", "Justin Kufro", encode: "javascript") %>
        &nbsp;&nbsp;&copy 2018
    </div>
</div>
