<header>
    <nav>
        <div class="nav-wrapper">
            <a href="/index" class="brand-logo center">Rails For Rails</a>
            <%= render partial: 'partials/refresh_button' %>
            <%= render partial: 'partials/logout_button' %>
        </div>
    </nav>
    <br/>
</header>
