<%= render partial: 'users/user_form', locals: { :id_prefix => 'existing' } %>

<br/>
<div class='row'>
    <div class='col s12'>
        <a class="waves-effect waves-light btn center" v-on:click="update_user()">
            <i class="material-icons left">create</i>
            Update User
        </a>
    </div>
</div>
