<div id='login_area' class='row'>
    <h4 class="center">Login</h4>
    <%= render partial: 'partials/vue_error_rows', locals: {:is_component => 'error_row' } %>
    <%= render partial: 'partials/matize_vue_form_element', locals: {:id => 'login_username', :vmodel => 'username', :label => 'email or username'} %>
    <%= render partial: 'partials/matize_vue_form_element', locals: {:id => 'login_password', :vmodel => 'password', :type => 'password'} %>
    <div class='center-align'>
        <button class='waves-effect waves-light btn btn-submit' v-on:click="submit_login()">Login</button>
    </div>
</div>
