<div id='signup_area' class='row'>
    <h4 class="center">Sign Up</h4>

    <%= render partial: 'users/user_form', locals: { :id_prefix => 'new' } %>

    <div class='center-align'>
        <button class='waves-effect waves-light btn btn-submit' v-on:click="submit_signup()">Sign Up</button>
    </div>
</div>
