<div id="admin_area" class='container'>
    <existing-user-card></existing-user-card>
    <br/>
    <new-user-card></new-user-card>
    <br/>
    <new-ride-card></new-ride-card>
    <br/>
    <%= render partial: 'admin_rides' %>
</div>

