<div id="login_signup_area" class='container'>
    <%= render partial: 'toc_area' %>
    <div class="divider"></div>
    <%= render partial: 'login_area' %>
    <div class="divider"></div>
    <%= render partial: 'signup_area' %>
</div>
