
<div class='row'>
    <div class='col s12'>
        <div class='row no-margin-bottom' v-on:keyup.enter="call_queue()">
            <%= render partial: 'partials/matize_vue_form_element', locals: {:id => 'call_queue_num', :vmodel => 'call_queue_num', :label => '', :helper_text => '', :row => false, :cols => 's4', :offset => 's4'} %>
        </div>
        <div class='row'>
            <div class='col s12'>
                <a class="waves-effect waves-light btn center" v-on:click="call_queue()">
                    <i class="material-icons left">people</i>
                    Call Queue
                </a>
            </div>
        </div>
    </div>
</div>
