<div class='row no-margin-bottom no-margin-top'>
    <div class='col s12'>
        <h4 class="no-margin-bottom no-margin-top">Edit Ride</h4>
    </div>
</div>

<%= render partial: 'rides/ride_form' %>

<div class='row'>
    <div class='col s12'>
        <a class="waves-effect waves-light btn center" v-on:click="update_ride()">
            <i class="material-icons left">edit</i>
            Update Ride
        </a>
    </div>
</div>
