<div class='row' v-if="has_eligible_passes()">
    <div class='col s12'>
        <h5>Get In Line</h5>
    </div>
</div>
<div class='row' v-for="park_pass in park_passes" v-if="((park_pass.at_park) && (!park_pass.current_queue))">
    <div class='col s8 offset-s1'>
        <p class='flow-text get_in_line_text left-align'>{{ park_pass.first_name }} {{ park_pass.last_name }}</p>
    </div>
    <div class='col s3'>
        <a class="waves-effect waves-light btn" v-on:click="create_queue(park_pass.id)"><i class="material-icons">add</i></a>
    </div>
</div>
