<div class="row">
    <div class="col s12">
        <div class="row no-margin-bottom">
            <div class="input-field col s6 offset-s3">
                <i class="material-icons prefix">person</i>
                <input type="text" :id="'ride_' + ride.id + '_queues_autocomplete'" class="autocomplete" v-model="check_in_choice" v-on:keyup.enter="check_in_rider()">
                <label for="autocomplete-input">Rider Security Code</label>
            </div>
        </div>
        <div class='row'>
            <div class='col s12'>
                <a class="waves-effect waves-light btn center" v-on:click="check_in_rider()">
                    <i class="material-icons left">beenhere</i>
                    Check In
                </a>
            </div>
        </div>
    </div>
</div>
